
@import '/src/styles.sass'
\:host
    max-width: 850px !important


    //accordion
.accordion
    background-color: #fff
    color: var(--text-color)
    cursor: pointer
    padding: 5px !important
    width: 100%
    text-align: left
    border: 2px solid
    outline: none
    transition: 0.4s ease-in
    margin-top: 0px
    font-family: var(--primary-font)
    margin-left: 10px
    height: 85px
    border-right: 0
    border-left: 0


    .accordionHeader
        display: flex
        flex-direction: row
    .accordionText
        margin-left: 10px
        display: flex
        flex-direction: row
        align-items: center
        font-size: 18px


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button:hover
        color: #a9a9a9

/* Style the accordion panel. Note: hidden by default */
.panel
    padding: 25px
    display: none
    overflow: hidden
    margin: 10px !important


.panelHeaderLeft
    display: flex !important
    flex-direction: row !important
    flex-grow: 1 !important
    flex-basis: auto !important
    align-items: center !important
    justify-content: flex-start !important
    

// plus icon stylings
.plusIconContainer
    float: right
    height: 50%
    padding: 8px !important
    background-color: #fed230
    font-size: var(--font-sm)
    margin-top: 20px

// plus icon animations
.plusIconClosed
    -ms-transform: rotate(0deg) /* IE 9 */
    -webkit-transform: rotate(0deg) /* Safari */
    transform: rotate(0deg)
    transition-property: transform

.plusIconOpen
    -ms-transform: rotate(45deg) /* IE 9 */
    -webkit-transform: rotate(45deg) /* Safari */
    transform: rotate(45deg)
    transition-property: transform
