
@import '/src/styles.sass'
\:host
    min-height: 100% !important


    //accordion
.accordion
    background-color: #fff
    color: var(--text-color)
    cursor: pointer
    padding: 5px !important
    width: 100%
    text-align: left
    border: 2px solid
    outline: none
    transition: 0.4s ease-in
    margin-top: 0px
    font-family: var(--primary-font)
    margin-left: 10px
    height: 85px
    border-right: 0
    border-left: 0
.accordion:hover
    background-color: #a9a9a9 !important
    border: none !important

.accordionHeader
    display: flex
    flex-direction: row
    margin-left: 10px !important

.accordionText
    margin: 0px 30px 0px 30px
    display: flex !important
    flex-direction: row
    flex-grow: 1
    align-items: center
    font-size: 2vh
    position: relative

/* Add a background color to the button if it is clicked on , and when you move the mouse over it (hover) */
    // .accordion:hover
    //     background-color: #a9a9a9 !important

// accordion panel stylings
.panel
    padding: 25px
    display: none
    overflow: hidden
    margin: 10px !important
    font-family: var(--primary-font)

    

// plus icon stylings
.plusIconContainer
    float: right
    height: 3vh
    padding: 8px !important
    background-color: #fed230
    font-size: $font-sm
    margin-top: 20px
    width: 3vh
    text-align: center
    margin-right: 10px

// plus icon animations
.plusIconClosed
    -ms-transform: rotate(0deg) /* IE 9 */
    -webkit-transform: rotate(0deg) /* Safari */
    transform: rotate(0deg)
    transition-property: transform

.plusIconOpen
    -ms-transform: rotate(45deg) /* IE 9 */
    -webkit-transform: rotate(45deg) /* Safari */
    transform: rotate(45deg)
    transition-property: transform
