@import 'assets/fonts/font-file.scss'

:root
    --primary-color: #fff
    --background-color: #ffffff
    --text-color: #2d2d2d
    --primary-font: 'oswald-regular'
    --secondary-font: 'oswald-bold'
    --tertiary-font: 'oswald-light'

// font-weight
$thin:100
$light:300
$regular:400
$bold:700
$black:900

// font size
$font-xs:12px
$font-sm: 14px
$primary-fs: 16px
$font-md: 18px
$font-lg: 25px

// Main Body Stylings
body
    background-color: var(--background-color)
    color: var(--text-color)
    font-family: var(--secondary-font)
    padding: 0
    margin: 0
    font-weight: var($regular)
    justify-content: center
    max-width: 850px


        //flex
    .flexCenterLeft
        display: flex !important
        align-items: center !important
        justify-content: flex-start !important