@import '/src/styles.sass'

\:host
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    height: 100%
    width: 60%
    max-width: 800px
    
.FaqHeader
    display: flex !important
    flex-grow: 1
    justify-content: flex-start
    margin: 10px
    font-size: $font-lg
    border-bottom: 25px solid
    width: 100%


