@import '/src/styles.sass'

    
.FaqHeader
    display: flex !important
    flex-grow: 1
    justify-content: flex-start
    margin: 10px
    font-size: $font-lg
    border-bottom: 25px solid
    min-width: 780px