<button class="accordion" (click)="getAccordianToggle()">
  <div style="margin-right: 10px;">
    <i nz-icon [ngClass]="isExpanded ? 'CaretIconDown' : 'CaretIconRight'" nzTheme="outline"></i>
  </div>
  <div>
    <div>
      <ng-content select="[panel-header-left]"></ng-content>
    </div>
    <div>
      <ng-content select="[panel-header-right]"></ng-content>
    </div>
  </div>
</button>
<div [@slideInOut]="animationState">
  <ng-content select="[panel-body-content]"></ng-content>
</div>


<!-- <button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div> -->